
  ion-searchbar {
    --background: #f5f5f7;
    border-radius: 8px;
    background-color: #f5f5f7;
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    --placeholder-color: #7d7d8d;
    color: #333333;
    --box-shadow: none;
    --min-height: 40px;
    --height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    --icon-color: rgba(125, 125, 141, 0.7);
  }