<ion-header [attr.dir]="translateService.direction()">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="candidate-search"></ion-back-button>
      </ion-buttons>

      <ion-title class="mobile-only" *ngIf="!sourceSaveSearch">
          {{ "Filters" | translate }}
      </ion-title>

      <ion-title *ngIf="sourceSaveSearch">
          {{ sourceSaveSearch.source_name }}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [attr.dir]="translateService.direction()">

<!-- loader when config not available -->

<ion-grid *ngIf="!instantSearchConfig">
  <ion-row>
    <ion-col size-md="8" size-lg="8" class="desktop-only employer-list-wrapper">
      <loading-modal [loading]="true" type="candidate">
      </loading-modal>
    </ion-col>
    <ion-col size-md="4" size-lg="4">
              <div class="filter-wrapper">
                  <loading-modal [attr.dir]="translateService.direction()" [loading]="true" type="candidate-filter">
                  </loading-modal>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>

  <instant-search #instantSearch *ngIf="instantSearchConfig"
      [config]="instantSearchConfig" [searchParameters]="searchParameters">
      <ion-grid>
          <ion-row>
            <ion-col size-md="4" size-lg="4">
                  <div class="filter-wrapper">
                      <candidate-filter [class.hidden]="loading && !nbHits"></candidate-filter>
                  </div>
              </ion-col>
          </ion-row>
      </ion-grid>
  </instant-search>

</ion-content>
<ion-footer class="mobile-only">
  <ion-toolbar class="ion-no-padding">
      <ion-button [disabled]="loading || nbHits == 0" (click)="dismiss()" expands="full"
          class="btn-view-candidates">
          <span *ngIf="!loading && instantSearchConfig">
              <span *ngIf="nbHits == 0">{{ "No Candidate Found" | translate }}</span>
              <span *ngIf="nbHits > 0">{{ 'txt_view_candidates' | translate : { value : nbHits } }}</span>
          </span>
          <ion-spinner *ngIf="loading || !instantSearchConfig"></ion-spinner>
      </ion-button>
  </ion-toolbar>
</ion-footer>
