<ion-header mode="md" [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" (click)="close()"></ion-back-button>
    </ion-buttons>

    <ion-title>Candidate assignment details</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="form && !form.valid" (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <form [formGroup]="form" *ngIf="form">
     
        <ion-list>
          <ion-item>
            <div tabindex="0"></div>
            <ion-label position="floating">Hourly Rate</ion-label>
            <ion-input type="number" formControlName="rate"></ion-input>
          </ion-item>

          <ion-item>
            <div tabindex="0"></div>
            <ion-label position="floating">Start date</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" [min]="todayDate" [max]="maxDate" formControlName="start_date"></ion-datetime>
          </ion-item>

        </ion-list>
  </form>
  </div>

</ion-content>
