page-login {
    .loginCard{
        max-width:350px;
        margin-left: auto;
        margin-right: auto;
    }

    .contentArea{
        background: #eceff4;
    }

    .brand {
        margin-top: 20px;
        margin-bottom:20px;
        text-align: center;

        img{
            width: 180px;
        }
    }

    .authArea button{
        margin-bottom:7px;
    }

}
