<ion-card [class.pending]="request.request_status == 'pending'">
<!--  <ion-card-header>-->
<!--&lt;!&ndash;    <ion-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;      {{ request.request_position_title }}&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-card-title>&ndash;&gt;-->

<!--&lt;!&ndash;    <ion-card-subtitle>&ndash;&gt;-->
<!--&lt;!&ndash;      <span *ngIf="request.request_position_type == 1">Full-time</span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span *ngIf="request.request_position_type == 2">Part-time</span>&ndash;&gt;-->
<!--&lt;!&ndash;      for {{ request.company.company_common_name_en? request.company.company_common_name_en: request.company.company_name }}&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-card-subtitle>&ndash;&gt;-->

<!--    <p class="time">Requested {{ request.request_created_datetime | timeAgo }} </p>-->

<!--    <p *ngIf="request.staff">-->
<!--      Currently being handled by-->
<!--      <span *ngIf="request.staff.staff_id == authService.staff_id">you</span>-->
<!--      <span *ngIf="request.staff.staff_id != authService.staff_id">{{ request.staff.staff_name }}</span>-->
<!--    </p>-->

<!--  </ion-card-header>-->
  <ion-card-content [class.pending-request]="!request.staff">
    <h1>{{ request.company.company_common_name_en? request.company.company_common_name_en: request.company.company_name }}</h1>
    <h3>
      Looking for <b>{{ request.request_number_of_employees }}
      <span *ngIf="request.request_position_type == 1">Full-time</span>
      <span *ngIf="request.request_position_type == 2">Part-time</span>
      {{ request.request_position_title }}</b>
    </h3>

    <p *ngIf="request.request_additional_info" class="txt-additional-info">{{ request.request_additional_info }} </p>
    <small class="time">Request made {{ request.request_created_datetime | timeAgo }} </small>
    <div *ngIf="request.lastActivity" class="content-footer" [class.background-red]="!getColorGreen()" [class.background-green]="getColorGreen()">
      <p *ngIf="!request.staff">Please pick up</p>
      <ng-container *ngIf="request.staff">
        <p>{{ request.lastActivity.createdBy.staff_name  }} is handling it</p>
        <p>Last updated {{ request.lastActivity.note_created_datetime | timeAgo }} </p>
      </ng-container>
    </div>
  </ion-card-content>
</ion-card>
