<ion-header [class.add-border]="borderLimit" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Active Requests</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/company-request-list">View Older</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)">

  <request-listing *ngFor="let request of activeRequests" tappable (click)="requestDetail(request)"
                       [request]="request" [showStatus]="false" ></request-listing>

  <loading-modal [loading]="loading" type="request-list"></loading-modal>
      
</ion-content>

<ion-footer>
  <ion-button routerLink="/request-form">
    <span>Create new request</span>
  </ion-button>
</ion-footer>
